# Ignore everything except what is excluded.
*
# Exclusions
!/.gitignore
!/.config/bspwm/bspwmrc
!/.config/dunst/dunstrc
!/.config/i3/config
!/.config/i3/includes/*
!/.config/polybar/*
!/.config/rofi/*
!/.config/sxhkd/sxhkdrc
!/.config/termite/config